.core-values-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.core-values-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'BeVietnamPro';
    gap: 30px;

}

.core-values-container .title {
    line-height: 2;
    width: fit-content;
    background: linear-gradient(181deg, #5C53E4 -23.01%, #C778D3 48.92%, #CFAFD4 99.41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.core-values-container .value-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.core-values-container .value {
    width: 480px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 50px;
    background: linear-gradient(90deg, #f29aff56 0%, #abaee185 99.27%);
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.core-values-container .value-image {
    width: 100px;
}

.core-values-container .value-text {
    color: #6553A7;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .core-values-section {
        height: 70vh;
    }  

    .core-values-section .title {
        width: 70%;
        text-align: center;
    }

    .core-values-container {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .core-values-container .value {
        width: 320px;
        height: 120px;
    }

    .core-values-container .value-image {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .core-values-section .title {
        width: 70%;
        text-align: center;
    }

    .core-values-container {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .core-values-container .value {
        width: 320px;
        height: 120px;
    }

    .core-values-container .value-image {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .core-values-section {
        min-height: 150vh;
    }

    .core-values-section .title {
        text-align: center;
    }

    .core-values-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .core-values-container .value-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .core-values-container .value {
        width: 320px;
        height: 120px;
    }

    .core-values-container .value-image {
        width: 100px;
    }
}