.nav-section {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: transparent;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: #E0E0E0;
}

.nav-section.scrolled {
    background-color: #fff;
    backdrop-filter: blur(10px);
    transition: background 1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09);
    color: #fff;
}

.nav-section.scrolled .nav-item-content,
.nav-section.scrolled .input-placeholder {
    background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-section.scrolled .nav-item-content .icon,
.nav-section.scrolled .search-icon {
    color: #00B4DB;
}

.nav-section.scrolled .searchbar-group {
    border: 1px solid #4696E3;
}

.nav-section a {
    text-decoration: none;
    color: inherit;
}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 250px;
    height: auto;
    background-size: contain;
    cursor: pointer;
}

.nav-menu {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    height: 100%;
    font-family: 'Eurostile';
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item.ctv {
    height: 35px;
    border-radius: 15px;
    background: linear-gradient(107deg, #3493C8 44.83%, #6AB8E0 68.38%);
    text-shadow: 2px 2px 0 #00000040;
}

.nav-item.ctv p {
    color: #fff !important;
    background: transparent !important;
    background-clip: none !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
}

.nav-item-content {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin: 0;
    transition: scale 0.2s ease-in-out;
    color: #fff;
}

.nav-item:hover .nav-item-content,
.searchbar-group:hover {
    scale: 1.05;
}

.nav-item-content .icon {
    color: #fff;
}

.nav-item.dropbtn {
    display: block;
}

.nav-item-dropbtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    position: absolute;
    margin: 0 0 0 -1vw;
    background: #fff;
    display: none;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(13, 61, 164, 0.2);
}

.dropdown-content a {
    width: 170px;
    min-height: 1vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}

.dropdown-content a p {
    margin: 0;
    padding: 15px 20px;
    font-size: 14px;
    background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown-content p:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.nav-item.dropbtn:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.nav-section .searchbar-group {
    display: flex;
    align-items: center;
    width: 170px;
    height: 35px;
    background: #FFF;
    padding: 0 10px;
    border-radius: 40px;
    transition: scale 0.2s ease-in-out;
}

.input-placeholder {
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Eurostile';
    font-size: 12px;
    color: #B8B8B8;
    font-weight: 600;
}

.nav-section .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.search-icon {
    height: 80%;
    width: 20%;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 14px;
    color: #B8B8B8;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.5;
    border: none;
    cursor: pointer;
}

.search-icon:hover {
    cursor: pointer;
}

.input-placeholder::placeholder {
    color: #FFF;
    opacity: 1;
    font-family: 'Eurostile';
    font-size: 12px;
    font-weight: 500;
}

.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    gap: 4px;
}

.hamburger div {
    width: 18px;
    height: 2px;
    border-radius: 4px;
    background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
    transition: all 0.3s ease;
}

.fade-menu-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-menu-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}

.fade-menu-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-menu-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 300ms ease-in-out;
}

.nav-section-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-section {
        height: 10vw;
        padding: 0 3vw;
        justify-content: space-between;
    }

    .nav-logo-container {
        height: 100%;
    }

    .nav-logo {
        height: 100%;
        width: auto;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.945);
        z-index: 1;
        align-items: flex-start;
        box-shadow: 0 4px 8px rgba(13, 61, 164, 0.2);
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        justify-content: flex-start;
    }

    .nav-menu.show {
        padding: 0 20px;
        display: flex;
        box-sizing: border-box;
    }

    .nav-item {
        width: 100%;
        padding: 0;
        height: auto;
    }

    .nav-item-content {
        width: 100%;
    }

    .nav-item:hover {
        background-color: transparent;
    }

    .nav-item-dropbtn {
        height: 40px;
    }

    .nav-item-content {
        font-size: 18px;
        margin: 15px 0;
        text-indent: 20px;
        padding: 10px 0;
        background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .dropdown-content a {
        width: 100%;
        text-indent: 30px;
        transition: scale 0.2s ease-in-out;
    }

    .dropdown-content a:hover {
        background-color: transparent;
        scale: 1.01;
    }

    .dropdown-content a p {
        font-size: 16px;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.show div:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .hamburger.show div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.show div:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .dropdown-content.show {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .nav-section .searchbar-group {
        width: 97%;
        height: 30px;
        margin: 20px 0;
        align-self: center;
        background: transparent;
        text-decoration: none;
        border: 1px solid #4696E3;
        box-sizing: border-box;
    }

    .input-placeholder {
        width: 100%;
        font-size: 14px;
        background: linear-gradient(180deg, #0083B0 0%, #00B4DB 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-section .search-icon {
        font-size: 14px;
        width: 10%;
        display: flex;
        justify-content: center;
        color: #00B4DB;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-section {
        padding: 0 30px;
        gap: 40px;
    }

    .nav-item {
        font-size: 12px;
    }

    .dropdown-content a p {
        font-size: 12px;
    }

    .nav-section .searchbar-group {
        height: 25px;
    }

    .nav-logo {
        width: 170px;
    }

    .dropdown-content a {
        width: 17vw;
    }
}