.faqs-section {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}

.faqs-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqs-title {
    width: 100%;
    margin: 0;
    line-height: 2;
    width: fit-content;
    background: linear-gradient(181deg, #5C53E4 -23.01%, #C778D3 48.92%, #CFAFD4 99.41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faqs-desc{
    width: 85%;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.questions-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.question-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.question {
    width: 100%;
    padding: 15px 20px;
    background: rgba(154, 153, 153, 0.13);
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.question:hover {
    background: rgba(94, 93, 93, 0.13);
}

.question-content {
    margin: 0;
    font-weight: 400;
}

.question-button {
    width: 20px;
    margin: 0;
}

.answer {
    width: 90%;
    height: auto;
    margin: 2vw;
    padding-left: 2vw;
    border-left: 0.2vw solid rgba(151, 89, 231, 0.62);
    line-height: 1.5;
}

.answer-content {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;
    white-space: pre-line;
}

.answer-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease;
}

.answer-enter-active {
    max-height: 50vw;
    opacity: 1;
}

.answer-exit {
    max-height: 50vw;
    opacity: 1;
    overflow: hidden;
    transition: all 400ms ease;
}

.answer-exit-active {
    max-height: 0;
    opacity: 0;
}

@media (min-width: 740px) and (max-width: 1024px) {
    .faqs-section {
        width: 90vw;
        min-height: 70vh;
    }

    .faqs-title {
        text-align: center;
    }

    .faqs-desc {
        font-size: 16px;
    }

    .question-container {
        width: 600px;
    }
    
    .question {
        height: 50px;
        border-radius: 5px;
    }

    .question-content {
        font-size: 16px;
    }

    .question-button {
        width: 9px;
    }

    .answer {
        width: 90%;
        height: auto;
        margin: 2vw;
        padding-left: 2vw;
        font-size: 15px;
    }
}

@media(max-width: 739px) {
    .faqs-section {
        width: 90vw;
        min-height: 70vh;
    }

    .faqs-title {
        font-size: 22px;
        text-align: center;
    }

    .faqs-desc {
        font-size: 12px;
    }

    .question-container {
        width: 300px;
    }
    
    .question {
        height: 50px;
        border-radius: 5px;
    }

    .question-content {
        font-size: 12px;
    }

    .question-button {
        width: 9px;
    }

    .answer {
        width: 90%;
        height: auto;
        margin: 2vw;
        padding-left: 2vw;
        font-size: 12px;
    }

    .answer-content {
        margin: 0;
        font-size: 12px;
        line-height: 1.5;
        opacity: 0.9;
        white-space: pre-line;
    }
}