.seeking-banner-section {
    position: relative;
    width: 100vw;
    z-index: 1;
    height: 130vh;
    overflow: hidden;
}

.seeking-banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.seeking-banner-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7vw;
}

.seeking-banner-image img {
    position: relative;
    width: 70vw;
    height: auto;
    object-fit: contain;
}

.seeking-banner-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    pointer-events: none;
}

#seeking-banner-block-1 {
    width: 30vw;
    height: auto;
    object-fit: contain;
    position: absolute;
}

#seeking-banner-block-2 {
    position: absolute;
    width: 27vw;
    bottom: -14vw;
    right: -5vw;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .slider-section{
        min-height: 70vh !important;
    }

    .sliderWrapper {
        min-height: 45vh !important;
    }

    .seeking-banner-section {
        position: relative;
        width: 100vw;
        z-index: 1;
        height: 50vh;
        overflow: hidden;
    }

    .seeking-banner-image img {
        width: 85vw;
    }

    #seeking-banner-block-1 {
        width: 40vw;
        left: -10vw;
        top: 0;
    }

    #seeking-banner-block-2 {
        width: 20vw;
        bottom: -6vw;
        right: -5vw;
    }
}

@media (max-width: 768px) {
    .seeking-banner-section {
        position: relative;
        width: 100vw;
        z-index: 1;
        height: 50vh;
        overflow: hidden;
    }

    .seeking-banner-image img {
        width: 85vw;
    }

    #seeking-banner-block-1 {
        width: 40vw;
        left: -10vw;
        top: 0;
    }

    #seeking-banner-block-2 {
        width: 20vw;
        bottom: -6vw;
        right: -5vw;
    }
}

@media (max-width: 480px) {
    .seeking-banner-section {
        height: 40vh;
    }

    .seeking-banner-image img {
        width: 90vw;
        top: 15px;
    }

    #seeking-banner-block-1,
    #seeking-banner-block-2 {
        display: none;
    }
}