.seeking-banner-section {
    position: relative;  
    width: 100vw;
    z-index: 1;
    height: 130vh;
    overflow: hidden;

}

.seeking-banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1; 
}

.seeking-banner-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7vw;
}

.seeking-banner-image img {
    position: relative;
    width: 70vw;
    height: auto;
    object-fit: contain;
}

.seeking-banner-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 1; 
    pointer-events: none; 
}

#seeking-banner-block-1{
    width: 30vw;
    height: auto;
    object-fit: contain;
    position: absolute;
}

#seeking-banner-block-2{
    position: absolute;
    width: 27vw;
    bottom: -14vw;
    right: -5vw;
    height: auto;
    object-fit: contain;
}