.landing-page {
    position: relative;
    font-family: 'BeVietnamPro';
    overflow: hidden;
}

.landing-page-section {
    position: relative;
    top: -19vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
}

.division-bar {
    width: 600px;
    height: 1px;
    background: linear-gradient(135deg, #47A8B4 0%, #5D3E91 100%);
}

